* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

boby{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.mudar{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteiner {
    max-width: 1180px;
    margin: auto;
    padding: 0px;
    justify-content: center;
    text-align: center;
}


 .logo {
    display: inline-block;
    font-size: 40px;
    color: #3e3e3e;
    margin-bottom: 15px;
}

 .logo .dot {
    background-color:#5CC6BA;
    width: 13px;
    height: 13px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 6px;
}

.cadastro{
    background-color: #fff;
}

.cadastro p{
    color: #3e3e3e;
    text-align: center;
    font-size: 15px;
    
}

/*Transacion Tela login para cadastro*/
.mudar.active {
    height: 540px;
}

.mudar .form-login {
    width: 100%;
    padding: 40px;
    transition: .1s ease-in-out;
}

.mudar.active .form-login {
    transition-delay: 0s;
    transform: trabslateX(-400px);
}

.mudar .cadastro{
    position: absolute;
    margin-top: 25px;
    transform: translateX(-400px);
    transition: .1s ease-in-out;
    display: none;
}

.mudar.active .cadastro{
    transition-delay: .0s;
    transform: translateX(0);
    display: block;
}

/*Transation Tela login para cadastro*/

.input-box {
    position: relative;
    width: 320px;
    margin: 25px 0;;
}

.input-box input{
    width: 100%;
    height: 40px;
    font-size: 12px;
    border-radius: 20px;
    border-color: rgba(0,0,0,0.15);
    color:  rgb(32, 32, 32);
    padding: 0 35px 0 40px;
}

.input-box .icon{
    position: absolute;
    left: 15px;
    font-size: 20px;
    line-height: 49px;
    color:#5CC6BA;
}

.esqueceusenha a{
    font-weight: 500px;
    color: gray;
    display: flex;
    justify-content: space-between;
    margin: -15px 15px 10px;
   
    justify-content: right;
    font-size: 14px;
    text-decoration: none;
}

.esqueceusenha a:hover{
    text-decoration: underline;
}

button {
    height: 35px;
    width: 100%;
    border-radius: 200px;
    border: 1px solid #5CC6BA;
    background-color: #fff;
    margin-top: 15px;
    text-transform: uppercase;
}

button a {
    font-size: 15px;
    color: #5CC6BA;
    text-decoration: none;
}

.acessar a {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
}

.acessar{
    background-color: #5CC6BA;
    
}

.cadastrar{
    background-color: #5CC6BA;
    color: #fff;
    font-size: 15px;
}

/*Rodape*/
footer{
    text-align: center;
}

footer .rodape{
    font-size: 14px;
    position: absolute;
    bottom: 0;
    color: #3e3e3e;
    width: 100%;
    height: 70px;    
    text-align: center;
    line-height: 70px;
}

.rodape .dot {
    background-color:#5CC6BA;
    width: 5px;
    height: 5px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 6px;
}
/*Fim Rodape*/