* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}

boby{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    
}

/*cabeçalho*/
header {
    background-color: #fff;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,0.15);
    height: 80px;
    top: 0;
    left: 0;
    width: 100%;
    
}

.conteiner {
    max-width: 1180px;
    margin: auto;
    padding: 0 16px;
    justify-content: center;
    text-align: center;

}

header .conteiner {
    display: flex;

    align-items: center;
    justify-content: space-between;
    justify-content: center;
    height: 100%;
}

header .logo {
    display: inline-block;
    align-items: center;
    font-size: 40px;
}

header .logo .dot {
    background-color:#5CC6BA;
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 6px;
   
}
/*fimcabeçalho*/
/*wrapper*/
.logoecadastro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 440px;
    border-radius: 20px;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,0.15);
    
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.cadastro{
    background-color: #fff;
}

.logoecadastro.active {
    height: 520px;
}

.logoecadastro .form-login {
    width: 100%;
    padding: 40px;
    transition: .1s ease-in-out;
    
}

.logoecadastro.active .form-login {
    transition-delay: 0s;
    transform: trabslateX(-400px);
    
}


.logoecadastro .cadastro{
    position: absolute;
    margin-top: 15px;
    transform: translateX(-400px);
    transition: .1s ease-in-out;
    display: none;
}

.logoecadastro.active .cadastro{
    transition-delay: .0s;
    transform: translateX(0);
    display: block;
}










.form-login, .cadastro h2{
    font-size: 35px;
    color:#5CC6BA;
    text-align: center;
    vertical-align: middle;
}

.cadastro h2{
    font-size: 50px;
}

.input-box {
    position: relative;
    width: 320px;
    margin: 25px 0;;
}

.input-box input{
    width: 100%;
    height: 40px;
    
    font-size: 12px;
    border-radius: 20px;
    border-color: rgba(0,0,0,0.15);
    color:  rgb(32, 32, 32);
    padding: 0 35px 0 40px;

}

.input-box .icon{
    position: absolute;
    left: 16px;
    font-size: 20px;
    line-height: 57px;
    color:#5CC6BA;
    
}

.esqueceusenha{
    font-weight: 500px;
    margin:  -15px 10px 30px;
    display: flex;
    justify-content: space-between;
    
}



.esqueceusenha a, label{
    color: gray;
    font-size: 15px;
    text-decoration: none;
}

.esqueceusenha label{
    margin-left: 5px;
    padding-left: 5px;
    display:flex;
    justify-content: left;
    
   
}

.esqueceusenha input{
    margin-right: 5px;
    
}

.esqueceusenha a{
    display: flex;
    justify-content: right;
    
}

.esqueceusenha a:hover{
    text-decoration: underline;
}






button {
    height: 30px;
    width: 95%;
    border-radius: 200px;
    
    border: 1px solid #5CC6BA;
    
    background-color: #fff;
    margin-top: 10px;
    
    text-transform: uppercase;
    
}

button a {
    font-size: 15px;

    color: #5CC6BA;
    text-decoration: none;
}

.acessar a {
    font-size: 15px;

    color: #fff;
    text-decoration: none;
}

.acessar{
    font-size: 15px;
    background-color: #5CC6BA;
    color: #fff;
}






/*Rodape*/
footer{
    text-align: center;
    
}

footer .rodape{
    font-size: 14px;
    position: absolute;
    bottom: 0;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,0.15);

    color: #3e3e3e;
    width: 100%;
    height: 70px;    
    text-align: center;
    line-height: 70px;
    
}
 .rodape .dot {
    background-color:#5CC6BA;
    width: 5px;
    height: 5px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 6px;
   
}
/*Fim Rodape*/